@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

h1{
    display: inline-block;
    background-color: #333;
    color:whitesmoke;
}

.outer-container{
    border: 3px dashed #333;
    width: 400px;
    height: 600px;
    margin: 70px auto;
    /* position: relative; */   /*parent element*/
}

.inner-container{
    border: 2px solid #00f;
    width: 240px;
    height: 350px;
    margin: 190px auto;
    /* position: relative; */   /*parent element*/
    
}

.box{
    width: 120px;
    height: 120px;
    color: #fff;
    padding: 1rem;
    
}

.absolute{                       /*child element*/
    background-color: #00f;
    position: absolute;          /*this 'll obey to the nearest parent element which has relative position*/
    top: 0; 
    left: 0;
    /* right: 0;
    bottom: 0; */
    z-index: 1;                 /*overlaps on the other box*/
}

.relative{
    background-color: #f00;   
    position: relative;          /*no need to set parent element to relative*/
    top: 300px;
    left: 100px;
}

.fixed{
    background-color: green;
    position: fixed;                /*even after scrolling it won't change its position*/
    top: 100px;
    left: 80px;
}

.sticky{
    background-color: #000;
    position: sticky;
    top: 0;
}

/*to disable or disappear the complete elemnt we can use 3 ways-

1---display:none;
2---opacity:0;
3---just add any one of the side huge px for ex: left-10000px
*/


/*-----------how to disappear the content------------*/

section{
    height: 100vh;
}

.blue{background-color: #00f;}
.red{background-color: #f00;}
.green{background-color: green;}

header,footer{
     color: #fff;
    text-align: center;
    height: 100px;
    font-size: 5rem;
    text-decoration: none;
}

header{
    position: sticky;
    top:0;
}

footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;


} 