/*-----------how to disappear the content------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.green {
    background-color: green;
}

header,
footer {
    color: white;
    text-align: center;
    height: 100px;
}

header {
    position: sticky;
    top: 0;
    font-size: 5rem;

}


footer {
    background-color: #000;
    position: sticky;
    bottom: 0;
    font-size: 3rem;
}

/* Alternative styles for footer same as above
    footer{
        background-color: #000;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 3rem;
    } */

    a:visited{
        color: #fff;
    }

    .social{
        background-color: royalblue;
        color: white;
        font-size: inherit;
        padding: 1rem;
        position: fixed;
        top: 30%;
        left: 0;
        z-index: 1;
    }